.tableContainer {
  font-size: 0.8em;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  background-color: #333333; }
  .tableContainer table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse; }
  .tableContainer thead {
    overflow: auto; }
  .tableContainer tbody {
    height: 400px;
    overflow: auto;
    color: #ffe300; }
    .tableContainer tbody td {
      border: solid 1px #ffe10083;
      padding: 1em; }
  .tableContainer button {
    border: 1px solid #ffe300;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #ffe300;
    padding: .5rem 1rem;
    font-size: .7rem; }
  .tableContainer a:link {
    color: #ffe300;
    text-decoration: none; }
  .tableContainer a:visited {
    color: #ffe300;
    text-decoration: none; }
  .tableContainer a:hover {
    color: #ffe10083; }
  .tableContainer a:active {
    color: #ffe10083; }

#tableHeader {
  font-size: 0.8em;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000; }

.filterBarContainer {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  background-color: #32383e;
  color: #ffffff;
  padding: 1%;
  cursor: pointer;
  text-align: center; }

#wrapper {
  display: none; }

#filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1%;
  background-color: #32383e;
  border: solid 1px #c3c3c3; }

#filterButton {
  padding: 0.5%; }

.sliderContainer {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  color: #ffffff;
  padding: .5rem 1rem;
  font-size: .7rem; }

.Slider {
  margin-top: 10;
  margin-left: -50;
  width: 100%; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */ }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  background: #333333;
  border-radius: 1.3px;
  border: 0.2px solid #ffffff; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333333; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  background: #333333;
  border-radius: 1.3px;
  border: 0.2px solid #ffffff; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #333333;
  border: 0.2px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff; }

input[type=range]:focus::-ms-fill-lower {
  background: #333333; }

input[type=range]::-ms-fill-upper {
  background: #333333;
  border: 0.2px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff; }

input[type=range]:focus::-ms-fill-upper {
  background: #333333; }
